# Project dependencies
keras
nptyping
opencv-python==4.1.0.25
Pillow
requests
tabulate
tensorflow<2.0

https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp37-cp37m-win_amd64.whl ; platform_system == "Windows"
https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp37-cp37m-macosx_10_14_x86_64.whl ; platform_system == "Darwin"

# keras-yolo3 dependency
easydict
matplotlib

# Anaconda dependency
wincertstore

# COCOApi dependency
cython

# Install the following manually after all other requirements are installed
# git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
# ./lib/keras_retinanet
