# Project dependencies
keras
nptyping
opencv-python
Pillow
requests
tensorflow<2.0

git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI

# keras-yolo3 dependency
easydict
matplotlib

# keras-retinanet dependency
./lib/keras_retinanet

# Anaconda dependency
wincertstore
