contextlib2
Cython
jupyter
keras
lxml
matplotlib
opencv-python
Pillow
pycocotools
sklearn
tensorflow-gpu>=1.12.0,<2.0


git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
./lib/keras_retinanet
